:root {
  --d_primary: #313440;
  --d_secondary: #262831;
  --d_titleColor: #CADBE8;
  --d_secondaryFontColor: #A0A9C2;
  --d_buttonColor: #3D4866;
  --borderColor: #7070705b;
}

.dark-theme {
  background-color: var(--d_primary);
}

.dark-theme .btn-primary {
  background-color: var(--d_buttonColor);
}

.dark-theme .logo {
  color: var(--primaryColor);
}

.dark-theme .sidebar {
  background-color: var(--d_secondary);
}

.dark-theme .sidebar-logo {}

.dark-theme .secondaryText {
  color: var(--d_secondaryFontColor);
}

.dark-theme .sidebar ul li a {
  color: var(--d_secondaryFontColor);
}

.dark-theme .sidebar .active {
  background-color: var(--d_primary);
  border-right: 3px solid var(--primaryColor)
}

.dark-theme .searchbar {
  color: var(--d_secondaryFontColor);
}

.dark-theme .searchbar ::placeholder {
  color: var(--d_secondaryFontColor);
  font-family: var(--secondaryFont);
  font-size: 18px;
}