:root {
	--d_primary: #313440;
	--d_secondary: #262831;
	--d_titleColor: #CADBE8;
	--d_secondaryFontColor: #A0A9C2;
	--d_buttonColor: #3D4866;
	--borderColor: #7070705B;
}

.dark-theme {
	background-color: var(--d_primary);
}

.dark-theme .btn-primary {
	background-color: var(--d_buttonColor);
}

.dark-theme .logo {
	color: var(--primaryColor);
}

.dark-theme .sidebar {
	background-color: var(--d_secondary);
	border-right: 1px solid #70707033;
}

.dark-theme .sidebar-logo {
	border-bottom: 1px solid #70707033;
}

.dark-theme .secondaryText {
	color: var(--d_secondaryFontColor);
}

.dark-theme .sidebar ul li a {
	color: var(--d_secondaryFontColor);
}

.dark-theme .primaryText {
	color: var(--d_titleColor);
}

.dark-theme .sidebar .active {
	background-color: var(--d_primary);
	border-left: 3px solid var(--d_titleColor);
	color: var(--primaryColor) !important;
}

.dark-theme .sidebar .active a {
	color: var(--d_titleColor) !important;
}

.dark-theme .searchbar {
	color: var(--d_secondaryFontColor);
	border-bottom: 1px solid #70707033;
}

.dark-theme .searchbar ::placeholder {
	color: var(--d_secondaryFontColor);
	font-family: var(--secondaryFont);
	font-size: 18px;
}

.dark-theme .searchbar input {
	background-color: var(--d_secondary);
}

.dark-theme .profile-data-div {
	border-bottom: 1px solid #70707033;
}

.dark-theme .chatbox {
	background-color: var(--d_secondary);
}

.dark-theme .chat-title {
	background-color: var(--primaryColor);
	color: var(--d_titleColor);
}