/*
------------------------------------------------------
Global ( ALl Pages )
------------------------------------------------------
*/

:root {
	--lightColor: #E8E8E8;
	--primaryColor: #0984E3;
	--primaryFont: 'Montserrat', sans-serif;
	--secondaryFont: 'Lato', serif;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	font-family: var(--primaryFont);
	font-weight: 700;
}

p {
	font-family: var(--secondaryFont);
}

/*
------------------------------------------------------
Bootstrap Overrides
------------------------------------------------------
*/

.container-fluid {
	margin: 0;
	padding: 0;
}

/*
------------------------------------------------------
Landing Page
------------------------------------------------------
*/

/*
---------------------------
Global ( Landing )
---------------------------
*/

.btn-primary {
	background-color: var(--primaryColor);
	border: none;
	color: #FFFFFF;
	font-family: var(--primaryFont);
	font-size: 21px;
	font-weight: 700;
	height: 78px;
	width: 288px;
}

.text-dark > h1 {
	font-size: 4.2em;
	text-align: left;
}

.text-dark > p {
	font-size: 1.3em;
	font-weight: 400;
	max-width: 590px;
	margin: 2em 0;
}

.text-light > h1 {
	font-size: 4.2rem;
}

.text-light > p {
	font-size: 1.3em;
	font-weight: 400;
	max-width: 590px;
	margin: 2em 0;
}

/*
---------------------------
Nav
---------------------------
*/

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.logo {
	color: #000000;
	font-family: var(--primaryFont);
	font-size: 45px;
	font-weight: 700;
	margin-right: auto;
	padding: 5px 50px;
}

.logo-dot {
	color: var(--primaryColor);
}

.login-btn {
	background-color: transparent !important;
	padding: 20px;
}

/*
---------------------------
Top Div
---------------------------
*/

.top-div {
	height: 100vh;
}

.landing-left {
	align-items: center;
	display: grid;
	justify-content: center;
}

.landing-right {
	align-items: center;
	background-color: var(--primaryColor);
	display: flex;
	justify-content: center;
}

.imgGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left: 10rem;
	max-height: 41rem;
	max-width: 79rem;
	overflow: hidden;
	position: relative;
}

.imgGrid-single {
	height: 20rem;
	margin: 0 1rem 1rem 0;
	width: 15rem;
}

/*
---------------------------
Middle Div
---------------------------
*/

.middle-div {
	background-color: var(--lightColor);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50% 50%;
}

.landing-icons {
	margin: auto;
	padding: 100px;
}

/*
---------------------------
Bottom Div
---------------------------
*/

.bottom-div {
	background-color: var(--primaryColor);
	display: grid;
	justify-items: center;
	padding: 100px;
}

/*
------------------------------------------------------
Media Queries
------------------------------------------------------
*/

@media (max-width: 1200px) {

	/*
	---------------------------
	Landing Page
	---------------------------
	*/

	.text-dark, .text-dark > h1, .text-dark > p {
		text-align: center;
	}

	.text-light, .text-light > h1, .text-light > p {
		text-align: center;
	}

	.login-btn {
		color: #000000;
		margin-right: 0;
	}

	.navbar {
		position: relative;
	}

	.top-div {
		height: auto;
	}

	.bottom-div {
		padding: 0;
	}

	.landing-left {
		margin: 2rem 0;
	}

	.imgGrid {
		left: 6rem;
		margin: 5em 0;
		max-height: 36rem;
	}

	.imgGrid-single {
		height: 17rem;
	}

}

@media (max-width: 768px) {

	/*
	---------------------------
	Landing Page
	---------------------------
	*/

	.navbar {
		background-color: var(--primaryColor);
	}

	.logo-dot {
		color: #FFFFFF;
	}

	.login-btn {
		color: #FFFFFF;
	}

	.imgGrid-single {
		width: 12rem;
	}

}

@media (max-width: 576px) {

	/*
	---------------------------
	Landing Page
	---------------------------
	*/

	.text-dark > h1 {
		font-size: 3.5em;
		text-align: center;
	}

	.text-dark > p {
		margin: 2em 2em;
	}

}