:root {
  --l_primary: #FFFFFF;
  --l_secondary: #F3F3F3;
  --l_titleColor: #818188;
  --l_secondaryFontColor: #818182;
  --l_buttonColor: #3D4866;
  --borderColor: #7070705b;
}

.light-theme {
  background-color: var(--l_primary);
}

.light-theme .btn-primary {
  background-color: var(--primaryColor);
}

.light-theme .logo {
  color: var(--primaryColor);
}

.light-theme .sidebar {
  background-color: var(--l_secondary);
  border-right: 1px solid #70707033;
}

.light-theme .sidebar-logo {
  border-bottom: 1px solid #70707033;
}

.light-theme .secondaryText {
  color: var(--l_secondaryFontColor);
}

.light-theme .sidebar ul li a {
  color: var(--l_titleColor);
}

.light-theme .title-text {
  color: var(--l_titleColor);
}

.light-theme .sidebar .active {
  background-color: var(--l_primary);
  border-left: 3px solid var(--primaryColor);
  color: var(--primaryColor) !important;
}

.light-theme .sidebar .active a {
  color: var(--primaryColor) !important;
}

.light-theme .searchbar {
  color: var(--l_secondaryFontColor);
  border-bottom: 1px solid #70707033;
}

.light-theme .searchbar ::placeholder {
  color: var(--l_secondaryFontColor);
  font-family: var(--secondaryFont);
  font-size: 18px;
}

.light-theme .sidenav {
  background-color: var(--l_secondary);
}

.light-theme .searchbar input {
  background-color: var(--l_secondary);
}

.light-theme .profile-data-div {
  border-bottom: 1px solid #70707033;
}

.light-theme .profile-data h2 {
  color: #000000;
}

.light-theme .searchToggle {
  background-color: var(--l_primary);
}

.light-theme .toggleActive {
  background-color: var(--l_buttonColor);
}

.light-theme .overlay-show {
  background-color: rgba(61, 61, 61, 0.397);
}