.btn-primary {
  border: none;
  color: #FFFFFF;
  font-family: var(--primaryFont);
  font-size: 21px;
  font-weight: 700;
  height: 78px;
  width: 288px;
}

.login-btn {
  background-color: transparent !important;
  border: 2px solid #ffffff;
}

.search-btn {
  border-radius: 0;
  width: 49px;
  height: 58px;
  top: -3px;
  position: relative;
  background-color: var(--primaryColor) !important;
}