.chatbox {
  position: fixed;
  bottom: 0;
  right: 40px;
  height: 50px;
  width: 300px;
  z-index: 9999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.253);
  transition: all .5s ease;
}

.chatExpanded {
  max-height: 500px;
  height: 500px;
}

.chat-title {
  max-height: 50px;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.253);
}

.sendChatBtn {
  bottom: 0;
}

.backBtn {
  width: 20px;
  height: 20px;
}

.red {
  background-color: red !important;
}

.titleBarDiv {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
}

.chatDiv {
  padding: 20px;
  border-bottom: 1px solid;
}

.chatSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.messagesSection {
  max-height: 100%;
  overflow: auto;
}

.messagesForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.msgNotYou {
  font-size: 14px;
  color: black;
  background-color: green;
}

.msgYou {
  font-size: 14px;
  color: black;
  background-color: blue;
}

#msgs {
  color: #ffffff;
}