.searchbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.searchbar input {
  background-color: transparent;
  border: none;
  padding: 20px;
}

.searchbar input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.searchbar label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  border-radius: 100px;
  position: relative;
  top: 5px;
}

.searchbar label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.searchbar input:checked+label {
  background: var(--d_secondary);
}

.searchbar input:checked+label:after {
  left: calc(100%);
  transform: translateX(-100%);
}

.searchbar label:active:after {
  width: 10px;
}

.searchbar ul {
  list-style-type: none;
}

.searchbar ul li{
  float: left;
  padding: 0 10px; 
}

.searchbar ul li p {
  font-size: 20px; 
  font-family: var(--secondaryFont);
  font-weight: 700;
}