.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--l_primaryColor);
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--d_primaryColor);
}

.theme-img {
  width: 512px;
  height: 291px;
}