.profile-data {
    border-left: 7px solid;
    padding: 0 38px;
    margin: 50px;
    ;
}

.profile-data .primaryText {
    font-size: 75px;
    font-weight: 700;
    font-family: var(--primaryFont);
}

.profile-data .secondaryText {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--secondaryFont);
}

.control-div {
    display: flex;
    flex-wrap: wrap;
}